.shop-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.shop-nav {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 2px;
  z-index: 2;
  background-color: #f5f7fa;
  margin: 0 10px 10px 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: #f5f7fa;
  margin-top: 10px;
}

.add-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f7fa;
  margin: 0px 30px 10px 30px;
}

.shop-item {
  position: relative;
  height: 130px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f7fa;
  margin: 10px 30px 10px 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.left-shop-content,
.right-shop-content {
  display: flex;
  flex-direction: column;
}

.item-img {
  height: 115px;
  width: 160px;
  margin: 5px 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 3px;
}

.item-price {
  display: none;
}

.item-price-display {
  font-size: 18px;
  width: 160px;
  text-align: center;
}

.item-name {
  font-size: 18px;
  width: 160px;
  padding-left: 40px;
  text-align: center;
}

.shop-nav p {
  font-size: 15px;
}

.delete-item {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px 5px 0;
}

.delete-icon {
  font-size: 22px;
  opacity: 0.8;
}

.delete-icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.name-nav,
.price-nav,
.quantity-nav,
.img-nav {
  font-size: 16px;
  font-weight: 700;

  padding-top: 1rem;
}

.title-product {
  padding-top: 15px;
  padding-bottom: 15px;
}

.detail-nav-icon {
  margin: -3px 8px 0 20px;
}

.right-total {
  background-color: #f5f7fa;
  margin: 10px 30px 10px 30px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.right-content {
  display: flex;
  flex-direction: column;
}

.content-row {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding: 5px 15px;
  margin-top: 1rem;
}

.line {
  width: 90%;
  margin-left: 15px;
}

.buy-now {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
}

.buy-btn {
  height: 40px;
  width: 200px;
  border-radius: 4px;
  border: none;
  border: 1px solid #ccc;
}

/* CSS số lượng */

.input-quantity {
  display: flex;
  width: 70px;
  height: 22px;
  margin-bottom: 10px;
}

.input-box {
  width: 45px;
  text-align: center;
  font-size: 13px;
}

button {
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #e6e6e6;
}

.btn-modify {
  border: 1px solid #ccc;
  width: 20px;
  font-size: 15px;
}

.detail-content {
  overflow-y: scroll;
}

/* Scroll bar */
.detail-content::-webkit-scrollbar {
  border-radius: 3px;
  width: 10px;
}

.detail-content::-webkit-scrollbar-track {
  border-radius: 3px;

  background: #f1f1f1;
}

.detail-content::-webkit-scrollbar-thumb {
  border-radius: 3px;

  background: #888;
}

.detail-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal-cart {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 3px;
  width: 70%;
  top: calc(50% - 190px);
  height: 190px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  opacity: 0.5;
  cursor: pointer;
}

.modal-header-cart {
  height: 46px;
  padding: 2px 16px;
  background-color: #40c9a2;
  color: white;
}

.modal-body-cart {
  padding: 2px 16px;
}

.modal-footer-cart {
  padding: 2px 16px;
  background-color: #40c9a2;
  color: white;
  height: 46px;
}

.modal-body-cart {
  font-size: 16px;
}

.modal-header-cart h1 {
  font-size: 23px;
  padding-top: 6px;
}

.modal-input {
  width: 600px;
  text-align: center;
}

.submit-cart-btn {
  background: #fff;
  margin-top: 2px;
  width: 130px;
  height: 24px;
  border: 1px solid #ccc;
  font-size: 15px;
  border-radius: 5px;
  color: #299677;
}
