main {
  background-image: linear-gradient(45deg, #ccc, #000, transparent);
  padding: 20px 0;
}

.root_product {
  border: 1px solid #fff;
}

.nav_product {
  display: flex;
  margin-bottom: 10px;
}

.search {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  outline: none;
  background-color: #f3f3f3;
  margin: 0 20px;
  font-size: 1.4rem;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  transition: all ease-out 2.5s;
  min-width: 340px;
  /* visibility: hidden; */
}

.search-icon {
  transition: all ease-out 2.5s;
  margin: 0 20px;
}

.group-search {
  display: flex;
  flex: 1;
  padding: 0 20px 0 20px;
  justify-content: center;
  overflow: hidden;
  transition: all ease-out 2.5s;
  animation: showElement linear 0.3s;
  position: relative;
  display: none;
}

@keyframes showElement {
  0% {
    margin-left: -50px;
  }
  100% {
    margin-left: 0;
  }
}

.group-search .btn-sm.rm-icon {
  position: absolute;
  padding: 0;
  top: 50%;
  left: calc(50% + 160px);
  transform: translate(-100%, -50%);
  min-width: 32px;
  font-size: 8px;
  height: 22px;
  background-color: none;
}

.search::placeholder {
  color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4rem;
}

.icon_search-ok {
  position: absolute;
  padding: 0;
  top: 50%;
  left: calc(50% + 124px);
  transform: translate(-100%, -50%);
  min-width: 32px;
  font-size: 8px;
  height: 22px;
}

.icon_search-ok::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: -2px;
  border-right: 1px solid #ccc;
}

.btn-sm + .btn-sm {
}

.btn-sm:last-child {
}
