main {
  padding: 20px 0;
}

.nav_product {
  display: flex;
  margin-bottom: 10px;
  height: 34px;
}

.btn-filter {
  position: relative;
}

.menu_filter {
  position: absolute;
  min-width: 140px;
  right: 0;
  bottom: 100%;
  list-style: none;
  padding: 4px 0;
  text-align: left;
  background-color: var(--gray);
  box-shadow: 1px 0 5px 2px #ccc;
  border-radius: 4px;
  display: none;
}

.menu_filter::before {
  display: block;
  position: absolute;
  content: "";
  bottom: -22px;
  right: 30px;
  transform: translateX(50%);
  border-style: solid;
  border-color: var(--gray) transparent transparent transparent;
  border-width: 12px;
}

.menu_filter li {
  padding: 4px 8px;
  font-size: 1.4rem;
  color: #000;
  opacity: 0.7;
}

.menu_filter li:hover {
  opacity: 1;
  transition: all 0.4s ease;
  background-color: #40c9a2ab;
}

.btn-type {
  position: relative;
}

.menu_type {
  position: absolute;
  background-color: var(--gray);
  border-radius: 4px;
  box-shadow: 1px 1px 5px 5px #ccc;
  top: 0;
  opacity: 1;
  left: calc(100% + 10px);
  margin: 0;
  padding: 0;
  z-index: 1000;
  animation: show ease-in-out 0.6s;
  display: none;
}

@keyframes show {
  0% {
    left: calc(76% + 10px);
    opacity: 0;
  }
  100% {
    left: calc(100% + 10px);
    opacity: 1;
  }
}

.btn-type:hover .menu_type {
  display: block;
}

.menu_type::before {
  display: block;
  position: absolute;
  content: "";
  top: 4px;
  left: -33px;
  transform: translateX(50%);
  z-index: -1;
  border-style: solid;
  border-color: transparent var(--gray) transparent transparent;
  border-width: 12px;
}

.menu_type li {
  display: block;
  min-width: 160px;
  padding: 4px 16px;
}

.search {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  outline: none;
  width: 212px;
  line-height: 1.2rem;
  height: 100%;
  background-color: transparent;
  font-size: 1.2rem;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  transition: all ease-out 2.5s;
  /* visibility: hidden; */
  border-radius: 4px;
}

.container-search {
  height: 100%;
}

#delete-input {
  position: absolute;
  right: 84px;
  top: 50%;
  transform: translateY(calc(-50%));
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  padding: 2px 4px;
  line-height: 100%;
}

#delete-input:active {
  text-shadow: 1px 1px 5px red;
}

.search-icon {
  transition: all ease-out 2.5s;
  margin: 0 20px;
}

.wrap.search-wrap {
  min-width: 340px;
  height: 34px;
  border-radius: 1px;
  position: relative;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 1px 1px 0px #ccc;
}

.group-search {
  display: flex;
  flex: 1;
  padding: 0 20px 0 20px;
  justify-content: center;
  overflow: hidden;
  transition: all ease-out 2.5s;
  animation: showElement linear 0.3s;
  position: relative;
  border-radius: 4px;
  display: none;
}

@keyframes showElement {
  0% {
    margin-left: -50px;
  }
  100% {
    margin-left: 0;
  }
}

.group-search .btn-sm.rm-icon {
  position: absolute;
  padding: 0;
  top: 50%;
  left: calc(50% + 160px);
  transform: translate(-100%, -50%);
  min-width: 32px;
  font-size: 8px;
  height: 22px;
  background-color: none;
}

.search::placeholder {
  color: var(--carribean-green);
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  font-size: 1.2rem;
}

.group-search .btn-sm:hover {
  background-color: var(--carribean-green);
  color: #fff;
}

.form-input {
  position: relative;
  height: 100%;
}

.error {
  position: absolute;
  top: 50%;
  right: calc(100% - 4px);
  transform: translateY(-50%);
  color: red;
  font-size: 1.4rem;
  text-shadow: 0 0 4px #ccc;
  min-width: 240px;
  text-align: center;
}

.error.active {
  animation: toleft 0.2s linear;
}

@keyframes toleft {
  0% {
    right: calc(100% + 4px);
    opacity: 0;
  }
  100% {
    right: calc(100% - 4px);
    opacity: 1;
  }
}

.icon_search-ok {
  position: absolute;
  padding: 0;
  top: 50%;
  left: calc(50% + 124px);
  transform: translate(-100%, -50%);
  min-width: 32px;
  font-size: 8px;
  height: 22px;
}

.btn-sm {
  padding: 6px 8px;
}

.icon_search-ok::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: -2px;
  border-right: 1px solid #ccc;
}

/* Sản phẩm */
.products {
  border: 1px solid #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.product {
  border: 1px solid #ccc;
  animation: block ease-in-out 1s;
}

@keyframes block {
  0% {
    transform: calc(0.9);
  }
  100% {
    transform: calc(0.9);
  }
}

.title-product-page {
  width: 66%;
}

.lg-title {
  font-size: 1.6rem;
  margin: 10px;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}

.sm-title {
  margin: 0;
  font-size: 1.4rem;
  user-select: none;
}

.text-lights {
  font-size: 1.6rem;
  margin: 10px;
  color: #000;
  font-weight: 600;
  line-height: 1.8;
  opacity: 0.5;
  margin: 10px 0 20px 0;
  text-align: center;
}

.product-content {
  background: var(--gray);
  padding: 30px 5px 20px;
}

.product-img {
  background: var(--white-light);
  box-shadow: 0 0 20px 10px var(--white-light);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  transition: background 0.5s ease;
  z-index: 0;
  border-radius: 50%;
}

.product-img > img {
  width: 100%;
  z-index: 0;
  max-height: 200px;
  object-fit: cover;
}

.product-btns {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  z-index: 50;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.btn-cart,
.btn-buy {
  background: transparent;
  border: 1px solid black;
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  z-index: 1;
  transition: all 0.6s ease;
}

.btn-buy > a {
  text-decoration: none;
  color: black;
  outline: none;
}

.btn-cart {
  margin-right: 4px;
  background: black;
  color: white;
}

.btn-buy {
  background: white;
  color: black;
  margin-left: 4px;
}

.btn-cart:hover {
  background: var(--carribean-green);
}

.btn-buy:hover {
  background: var(--carribean-green);
  color: #fff;
}

.btn-buy:hover > a {
  color: #fff;
}

/* product-info */

.product-info {
  background: #fff;
  padding: 2rem;
}

.product-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating span {
  color: var(--carribean-green);
}

.product-name {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
}

.product-price {
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
  font-size: 1.4rem;
}

.product-price:first-of-type {
  text-decoration: line-through;
  color: var(--carribean-green);
}

.product-img {
  display: flex;
  align-items: center;
}

.product-img img {
  transition: transform 0.6s ease;
}

.product:hover .product-img img {
  transform: scale(1.1);
}

.product:hover .product-img {
  background: var(--carribean-green);
}

.product:hover .product-btns {
  opacity: 1;
}

svg {
  display: block;
}

.uim-svg svg {
  display: block;
}

.countStar {
  margin-right: 2px;
}

/*  */
